build/
build-*/
*.o
*.so
*.so.*

# debian build artefacts
debian/.debhelper/
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/pipewire-net-zeroconf-publish/
debian/pipewire-net-zeroconf-discover/
debian/pipewire-net-zeroconf/
debian/tmp/
debian/debhelper-build-stamp
debian/*.postinst.debhelper
debian/*.postrm.debhelper
debian/*.prerm.debhelper

# source tarballs / parent dir build outputs
../pipewire-net-zeroconf_*.deb
../pipewire-net-zeroconf_*.changes
../pipewire-net-zeroconf_*.buildinfo
../pipewire-net-zeroconf_*.tar.*
../pipewire-net-zeroconf_*.dsc
../pipewire-net-zeroconf-*_*.deb
../pipewire-net-zeroconf-*_*.changes
../pipewire-net-zeroconf-*_*.buildinfo

# editor / IDE
*.swp
*~
.vscode/
.idea/
compile_commands.json
